body {
	font-family: Copperplate,Copperplate Gothic Light,fantasy; 
	color: white;
	background-color: rgb(40,36,59);
	text-align: center;
}

a {
	color:white;
	text-decoration: none;
}	

h1 {
	color:white;
	font-size: 60px;
}


h2 {
	color:white;
	font-size: 30px;
}