body {
	font-family: Copperplate,Copperplate Gothic Light,fantasy; 
	color: white;
	background-color: rgb(40,36,59);
	text-align: center;
}	

h1 {
	font-size: 60px;
}

/*change color of links to white, remove underlines and bullets*/
a {
	color:white;
	text-decoration: none;
}

li {
	list-style-type: none;
	display: inline-block;
	font-size: 25px;
	margin: 0;
	padding: 10px 40px;
}

img {
  	width: 40%;
	height: 40%;
}